%h3 COSMETIC DENTISTRY OVERVIEW
%iframe{:allowtransparency => "true", :frameborder => "0", :height => "236", :name => "dd_embed", :scrolling => "no", :src => "//aacdvideos.com/wp-content/uploads/user-media/page-generate-embed.php?callback=parTest&parDirectoryID=138640&parFullName=Michael%20Courter&parVideoName=Cosmetic%20Dentistry&parPhone=432-682-0786&parUrl=drcourter.com&parVideoCodeName=cd&parAutoPlay=false", :width => "420"}

%h3 PORCELAIN VENEERS
%iframe{:allowtransparency => "true", :frameborder => "0", :height => "236", :name => "dd_embed", :scrolling => "no", :src => "//aacdvideos.com/wp-content/uploads/user-media/page-generate-embed.php?callback=parTest&parDirectoryID=138640&parFullName=Michael%20Courter&parVideoName=Porcelain%20Veneers&parPhone=432-682-0786&parUrl=drcourter.com&parVideoCodeName=pv&parAutoPlay=false", :width => "420"}

%h3 TEETH WHITENING
%iframe{:allowtransparency => "true", :frameborder => "0", :height => "236", :name => "dd_embed", :scrolling => "no", :src => "//aacdvideos.com/wp-content/uploads/user-media/page-generate-embed.php?callback=parTest&parDirectoryID=138640&parFullName=Michael%20Courter&parVideoName=Teeth%20Whitening&parPhone=432-682-0786&parUrl=drcourter.com&parVideoCodeName=tw&parAutoPlay=false", :width => "420"}
