%h2 Services

%div.services-wrapper
  %h3 Orthodontics
  = image_tag "orthodontics.png", {width: 300, height: 225, :style => 'border: 2px solid black; margin: 0 20px 20px 0'}

%div.services-wrapper
  %h3 Veneers
  = image_tag "veneer.png", {width: 300, height: 225, :style => 'border: 2px solid black; margin: 0 20px 20px 0'}

%div.services-wrapper
  %h3 Teeth Whitening
  = image_tag "teeth_whitening.png", {width: 300, height: 225, :style => 'border: 2px solid black; margin: 0 20px 20px 0'}
