%h2 About Us

%div
  = image_tag "drcourter_doctor.png", {width: 300, height: 225, :style => 'border: 2px solid black; float: left;margin: 0 20px 20px 0'}

  %h3(style="font-size: 25px;color: #147388;font-weight: bold;") Dr.&nbspCourter
  %p(style="font-size: 15") Dr. Courter grew up in Midland, Texas. He graduated from Midland High School and Texas Tech University. He then attended dental school in San Antonio, graduating from the UT Health Science Center Dental School in 1979. Shortly after graduating he came back to Midland and started into private practice. Since 1984 he has attended over 1,000 hours of continuing education primarily in the areas of orthodontics, cosmetic dentistry and complex restorative care. He was an associate professor at UTHSCSA Dental School from 1996-1998. He married his sweetheart Shelley, who is originally from Wisconsin, in 1984. After raising the boys, Shelley has been helping in the practice since 2001. They have 5 wonderful sons and 2 fantastic grandsons. He enjoys golf, scuba diving and hunting.

%div(style="clear: both")
  = image_tag "drcourter_staff.png", {:style => 'border: 2px solid black;float: left;margin: 0 20px 20px 0'}

  %h3(style="font-size: 25px;color: #147388;font-weight: bold;") Our Staff
  %p(style="font-size: 15") Shelley, Hilda, and Lauren look forward to helping you with all your dental needs!
