%h2 A Quality Practice That Cares

%h4 Facility

%p We are proud to provide a state-of-the-art facility for the highest quality dental care available. It is one of our top priorities to protect the well-being of our valued patients. For this reason, our office meets and surpasses all OSHA (Occupational Safety and Health Administration) and CDC (Center for Disease Control) standards. We are confident that you will feel right at home in our office as we welcome all patients as if they were family.

%h4 First Appointment

%p If you would like to make an appointment, please contact our office by phone or email. Because most of the treatment we provide is cosmetic, we meet most of our new patients at a planned appointment for their initial complete examination to evaluate their overall dental health and cosmetic concerns. However, emergencies happen and appointments are available and welcome. If you need a second opinion, we would be glad to see you to help you understand what options are available in the world of modern dentistry.

%h4 Financial Options

%p We will do everything we can to help you afford the treatment you need and want. For patients who require extensive treatment, a payment plan is designed with an appropriate payment schedule. For routine care, payment is expected at the time of service. Forms of payment accepted by the office are check, cash, any major credit card, and Care Credit. For patients with insurance, we will submit your claims for you and do everything we can to maximize your benefit, the portion insurance will not cover is expected at the time of treatment, except for preventive procedures.

%h4 Cancellations

%p We will do everthing possible to accomodate your schedule with your appointments. These times are reserved specifically for you, so we expect you to keep your scheduled appointment. We also understand that life happens. So if you are unable to keep your appointment, we ask that you kindly provide us with at least 24 hours and preferably more notice.

%h2 We would like to take this opportunity to thank you for choosing our practice for your dental care.