%h2 New Patient Forms

%p Before coming into the office please take a moment and print out these forms and fill them out.

%div
  = link_to "Patient Medical History Form", patient_resources_new_patient_forms_download_patient_medical_history_path

%div
  = link_to "Patient Information Form", patient_resources_new_patient_forms_download_patient_information_path