%h2 Post-Op Instructions

%p It is important to follow instructions after you have dental treatment to ensure proper healing and to avoid complications. As a rule of thumb, you should always wait two hours after having local anesthetics before eating to let the anesthesia wear off. Trying to eat before this could result in soft tissue damage because you are not able to feel all of your mouth. The instructions found below are guidelines. After your surgery the doctor or dental assistant will give you full instructions on how to properly recover from surgery.

%p Root Canal Therapy

%p You can expect soreness after a root canal procedure for a few days. You should avoid chewing on the side of your mouth where the procedure was performed so you do not irritate the area and also to ensure that the temporary restorative material properly sets. You will also need to take an antibiotic to treat any remaining infection in your tooth. If you notice an increasing amount of pain or tenderness, a reaction to the medication, or the loss of the temporary restoration (filling) call your dentist immediately.

%p Crowns and Bridges

%p Before you receive your permanent crown/bridge you will first receive a temporary restoration. This is not as sturdy as the permanent version, so you should be careful when cleaning and eating. You should brush the area gently and should not pull up on the tooth when flossing because it could become dislodged. The same goes for eating. You should avoid sticky or chewy foods while you have the temporary in.

%p There may be some sensitivity and irritation after the temporary or permanent is placed. This is normal and will subside after the soft tissue heals. A warm salt water rinse will help, and you can also take Advil or Tylenol if the pain does not go away.

%p When the permanent crown or bridge is placed it may feel a little awkward for a few days. Your mouth needs to adjust to the new tooth, and it should feel like one of your natural tooth in less than a week. If your bite feels abnormal in any way, you should let your dentist know. Caring for your bridge or crown is just like caring for your own teeth. You should brush and floss regularly.

%p White Fillings (Bonding)

%p After the anesthesia wears off your teeth will likely be sensitive. You should avoid hot and cold food or drink for the next few days. After that initial period, your treated teeth will feel as good as new. Continue your normal hygiene plan to ensure that your fillings last for a long time.

%p Scaling and Root Planing

%p After this procedure your gums will probably be slightly sore and irritated for a few days. You should rinse your mouth with warm salt water (1 tsp salt/8 oz water) 2-3 times a day. This will relieve the pain and cleanse the area. Brushing and flossing should be continued right after the procedure, but you should brush gently so that you do not further irritate the area. If you experience any swelling or stiffness in the area you can place a cold compress on the area and take some pain relieving medicine. Avoid any hard or chewy foods for 2-3 days after the surgery to ensure the area heals correctly. If you continue to experience pain or swelling after a few days contact your dentist.

%p Veneers

%p Before you receive your permanent veneer you will first receive a temporary restoration. This is not as sturdy as the permanent version, so you should be careful when cleaning and eating. You should brush the area gently and should not pull up on the tooth when flossing because it could become dislodged. The same goes for eating. You should avoid sticky or chewy foods while you have the temporary in.

%p There may be some sensitivity and irritation after the temporary or permanent is placed. This is normal and will subside after the soft tissue heals. A warm salt water rinse will help, and you can also take Advil or Tylenol if the pain does not go away.

%p When the veneer is placed it may feel a little awkward for a few days. Your mouth needs to adjust to the new tooth, and it should feel like one of your natural tooth in less than a week. If your bite feels abnormal in any way, you should let your dentist know. When brushing and flossing you should pay close attention to the area between the veneer and the tooth at the gum line.

%p Extractions

%p After the surgery you will need to rest. You need to be driven home by a friend or family member because of the anesthesia. You can expect for the extraction site to bleed for a little while after the surgery. Gauze will be applied at the completion of the surgery, and you will need to change it when it becomes soaked. If bleeding continues for longer than 24 hours you should call your dentist. Rest when you return home, but do not lie flat. This could prolong the bleeding. Prop your head up on a pillow when lying down. Your dentist will prescribe you pain medication, so if you become sore take as directed. You can also use an ice pack for the pain. Your dentist might also provide you with a cleaning solution to clean the extraction site.

%p You will be limited to soft foods for a few days after your surgery. Some recommended foods are:

%ul
  %li Gelatin
  %li Pudding
  %li Yogurt
  %li Mashed Potatoes
  %li Ice Cream
  %li Thin Soups
  %li ...and other food you can eat without chewing.

%p When drinking, make sure you do not use a straw. The sucking motion can loosen your sutures and slow the clotting process. The same goes for smoking. If you have prolonged pain, bleeding, irritation, or don't feel that the extraction site is healing properly call your dentist for a follow up.