%h2 Q & A

%ul
  %li
    %a(href='#why_are_my_teeth_sensitive') Why are my teeth sensitive?
  %li
    %a(href='#should_i_do_to_prevent_gum_disease_and_tooth_decay') What should I do to prevent gum disease and tooth decay?
  %li
    %a(href='#what_is_gingivitis') What is Gingivitis?
  %li
    %a(href='#what_is_periodontal_disease') What is Periodontal Disease?
  %li
    %a(href='#how_to_treat_periodontal_disease') How Do You Treat Periodontal Disease?
  %li
    %a(href='#difference_between_white_filling_and_silver_filling')  What is the Difference Between a White Filling and a Silver Filling?
  %li
    %a(href='#how_to_improve_my_smile') How Can I Improve My Smile?
  %li
    %a(href='#what_is_tooth_whitening') What is Tooth Whitening?
  %li
    %a(href='#what_is_bonding') What is Bonding?
  %li
    %a(href='#what_are_porcelain_veneers') What are Porcelain Veneers?
  %li
    %a(href='#what_are_crowns') What are Crowns?
  %li
    %a(href='#what_is_dental_implant') What is a Dental Implant?
  %li
    %a(href='#benefits_of_dental_implants') What are the Benefits of Dental Implants?
  %li
    %a(href='#who_is_candidate_for_dental_implants') Who is a candidate for Dental Implants?
  %li
    %a(href='#what_does_implant_procedure_involve') What does the Dental Implant Procedure Involve?
  %li
    %a(href='#how_much_does_dental_implant_cost') How Much Does a Dental Implant Cost?
  %li
    %a(href='#how_long_dental_implant_last') How long does a Dental Implant last?
  %li
    %a(href='#does_office_offer_financing_for_services') Does your office offer financing for services provided?

%h4(id='why_are_my_teeth_sensitive') Why are my teeth sensitive?

%p Sensitive teeth often come from the fact that your gums have slightly receded. This recession of the gum line allows the underlying dentin to show through which allows water and food easier access to the sensitive nerve. To manage this, there are a number of toothpastes, gels and even some dental procedures that can be applied. Speak to us in more detail if you have very sensitive teeth.

%h4(id='should_i_do_to_prevent_gum_disease_and_tooth_decay') What should I do to prevent gum disease and tooth decay?

%p Great teeth and gum care start at home. Brushing and flossing on a daily basis is the best way to take care of your teeth and gums on a continual basis.   By keeping to a daily routine you will greatly minimize the risk of gingivitis or tooth decay as you age.

%h4(id='what_is_gingivitis') What is Gingivitis?

%p Gingivitis is a condition caused when bacteria surrounds the teeth and enters the gums.  The gums can become irritated, inflamed and often bleed.  In order to prevent the condition from worsening, regular hygiene visits are highly recommended.  During your visit, our Hygiene team will teach you the proper flossing techniques and Oral Hygiene protocol for Home Care will prevent Periodontal Disease.

%h4(id='what_is_periodontal_disease') What is Periodontal Disease?

%p Periodontal Disease is a quiet disease that begins with little or no symptoms.  It is caused by bacteria that surrounds the teeth and enters the gums.  The immediate condition is known as ‘gingivitis’.  The gums become irritated, inflamed and often bleed.  If not properly treated, the condition worsens.  Noticeable symptoms now appear.  They include:

%ul
  %li Bad Breath
  %li Gum Recession
  %li Gum Sensitivity to Acidic Foods
  %li Abscesses
  %li Tooth Pain
  %li Tooth Loss

%h4(id='how_to_treat_periodontal_disease') How Do You Treat Periodontal Disease?

%p Periodontal Disease is a chronic condition that needs immediate attention.  Through a series of Periodontal Cleanings, Root Planing & Scaling, Laser Therapy and Local Antibiotics, this condition can be controlled.  Periodontal Surgery is only necessary for severe cases.

%h4(id='difference_between_white_filling_and_silver_filling')  What is the Difference Between a White Filling and a Silver Filling?

%p Silver Fillings known as Amalgam have been around for decades.  Made from a metal alloy, it was the best restoration for fillings.  The metal expands and contracts with the heat and cold placed in the mouth.  This allowed for little bacteria to enter a tooth once filled; keeping the tooth healthy and strong.

%p White Fillings, also known as composites are often made of plastic or glass polymers. These cosmetic fillings allow us to fill a cavity with a substance that will look and feel just like your existing tooth structure.  This restoration is created with a resin material and fits tightly into a tooth to prevent decay.  Rather than a gray or silver material in your mouth, the composite color will match the tooth color.

%h4(id='how_to_improve_my_smile') How Can I Improve My Smile?

%p There are several ways in today’s Dental World to enhance your smile.  Certain procedures include:

%ul
  %li Tooth Whitening
  %li Bonding
  %li Porcelain Veneers
  %li Porcelain Crowns
  %li Orthodontics
  %li Cosmetic reshaping

%p We have the capability to improve your smile using all or some of these procedures. To develop a customized treatment plan and estimate, please contact our office so that we may schedule an inital examination or complementary smile analysis.

%h4(id='what_is_tooth_whitening') What is Tooth Whitening?

%p Tooth Whitening is a cost effective and safe procedure to create a beautiful, healthy smile.  Over the years, flouride has been added to the whitening product.  This reduces the risk of tooth and gum sensitivity.
%p Tooth Whitening must be monitored by your dentist and only done after a comprehensive exam and hygiene visit.

%p The whitening process can last for a number of years if maintained properly.  Beverages such as coffee, tea, cola and wine will reduce the lasting effect.  Remember, if it could stain a white shirt, it will stain your smile!

%h4(id='what_is_bonding') What is Bonding?

%p Bonding is a cost effective procedure used to fill gaps in front teeth and to change a tooth’s color.  The immediate results are amazing.  Within a few hours, you will have a great smile!  Bonding, like Tooth Whitening, may change color over time due to coffee, tea, cola and wine.

%h4(id='what_are_porcelain_veneers') What are Porcelain Veneers?

%p Porcelain Veneers are thin pieces of porcelain that go directly on your natural teeth. This entire procedure can take as few as two visits.   Veneers change the size, shape and color of a patient’s teeth.  This procedure is used to repair fractured teeth, teeth darkened by age or medication, or a crooked smile.  Many times, patients ask for Porcelain Veneers to simply feel and look younger with a straighter, whiter smile!

%h4(id='what_are_crowns') What are Crowns?

%p Crowns are a procedure that cover the entire tooth.  They are cemented or bonded over teeth that are too damaged for a filling or veneer or are too crooked to align. They are also used to change the size, shape and color of the teeth. They can be finished in as few as 2 visits, and will protect the tooth for years to come.

%h4(id='what_is_dental_implant') What is a Dental Implant?

%p A Dental Implant is a “man-made” replacement for a missing tooth. It is the tooth root replacement.  Made from titanium, this screw-like object is inserted under the gum and directly into the upper or lower jaw bone.  There is usually minimal discomfort involved with this procedure.  After a period of a few months, the Dental Implant and the bone fuse together.  This creates an anchor for the new tooth to be placed onto the dental implant.

%h4(id='benefits_of_dental_implants') What are the Benefits of Dental Implants?

%ul
  %li Dental Implants look and function like your natural tooth.
  %li Dental Implants are a permanent solution for missing teeth.
  %li Dental Implants are maintained by routine hygiene visits to your dental office.
  %li Dental Implants decrease the possibility of bone loss, periodontal disease,  tooth movement, and further tooth loss.
  %li Dental Implants can replace the need for a Removable Full or Partial Denture.
  %li Dental Implants focus only on the tooth or teeth that are missing. Whereas a traditional Fixed Bridge would involve crowning the two or more adjacent teeth to replace the missing teeth.

%h4(id='who_is_candidate_for_dental_implants') Who is a candidate for Dental Implants?

%p With major advancements in Dentistry and Dental Implants, most people are candidates for Dental Implants.  There may be exceptions due to chronic illness, heart disease, and severe osteoporosis.

%h4(id='what_does_implant_procedure_involve') What does the Dental Implant Procedure Involve?

%p The average Dental Implant Procedure takes 3 - 4 visits.  The first visit is to x-ray the area and take an impression for a surgical guide and a temporary prosthesis to cover the Implant.

%p The next visit is to place the Implant. A local anesthesia is applied to the area.  (Any additional sedation is no longer necessary unless deemed by the dentist).   The dentist will then make a minor incision to place the implant. The implant is placed into the jaw bone.  The area will then be covered with sutures.  The procedure is usually completed with minor pain.

%p You will next return in approximately 3 months to begin creating the Porcelain Crown to place over the Implant.

%h4(id='how_much_does_dental_implant_cost') How Much Does a Dental Implant Cost?

%p Fees from Dental Implants vary from dentist to dentist.  Always schedule an Implant Consultation to discuss the procedure and all fees involved.

%h4(id='how_long_dental_implant_last') How long does a Dental Implant last?

%p With routine dental hygiene scheduled and proper home care, A Dental Implant can last approximately 30 years to a lifetime.

%h4(id='does_office_offer_financing_for_services') Does your office offer financing for services provided?

%p Please contact us to discuss the options we have available to make your perfect smile today!