%h2 Surgical Instructions

%p It is important to us that our patients are informed during every step of their treatment so that they are well prepared and have the chance to ask questions. The following information is a starting point for researching your procedure and should assist in developing a list of questions to ask during your consultation.

%h4 After Wisdom Tooth Removal

%p Wisdom tooth extraction is a surgical procedure that requires some post-operative care to reduce the chance of infection or other complications. Immediately after surgery, a gauze pad will be placed over the extraction site, which should not be removed for at least 45 minutes, and then discarded after that. As with any oral surgery, refrain from drinking through a straw as doing so creates suction and may disrupt the sutures. Limit your activities that day. You can resume your regular activities the following day.  Take the pain medication as prescribed to reduce the amount of discomfort you feel after the local anesthetic wears off. As with any oral surgery, refrain from drinking through a straw as doing so creates suction and may disrupt the sutures.

%h4 After Impacted Tooth

%p A tooth becomes impacted when there is not enough room to accommodate the space in the dental arch and growth becomes impossible.  After surgery to remove an impacted tooth, mild discomfort and some swelling is expected. This is part of the process and should not alarm you. You may use cold compresses to alleviate the swelling. In addition, your doctor will prescribe pain medication, which should be taken as directed. Patients are also advised to favor the extraction area and modify their diet for a few days to allow for healing.